/* App.css */


@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";


/* Estilo global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilo para el body */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

/* Estilo para los enlaces en todo el sitio */
a {
  text-decoration: none;
  color: inherit;
}

/* Estilos del contenedor principal */
.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
  padding: 20px;
  background-color: #004d4d;
  color: white;
  text-align: center;
}

/* Estilo para mejorar la visualización en pantallas pequeñas */
@media (max-width: 768px) {
  .main-container {
    flex-direction: column;
  }
}
